{% extends 'supervisor/shared/base.html' %}

{% load static %}
{% block name %}
{{uname}}
{% endblock name %}

{% block content %}

<div style="background-image :url( '{% static "\assets\images\hom1.jpg" %}' ); height: 550px; padding: 30px;">

    <h1 style="  color: white;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">WELCOME SUPERVISOR : {{uname}}</h1>


    <div class="row">
        <!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{ user_count }}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success ">
                    <a href="{% url 'view_users' %}"><span class="mdi mdi-arrow-top-right icon-item"></span></a>
    
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">User Count</h6>
            </div>
          </div>
        </div> -->
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0"></h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <a href="{% url 'admin_view_QRcode_details' %}"><span class="mdi mdi-arrow-top-right icon-item"></span></a>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Scan QR</h6>
            </div>
          </div>
        </div>
    
    
    
    
      </div>

</div>
{% endblock content %}