{% extends 'user/shared/base.html' %}

{% load static %}
{% block name %}
{{ uname }}
{% endblock name %}

{% block content %}
<div style="background-image :url( '{% static "\assets\images\hom1.jpg" %}' ); height: 550px;">

  <h1 style="  color: white; padding: 25px;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">WELCOME : {{ uname }}</h1>




  <div class="row" style="margin: 5px;">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">{{ balance }} ₹</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
              </div>
            </div>

          </div>
          <h6 class="text-muted font-weight-normal">Account Balance</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">{{ count }}</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success">
                <a href="{% url 'upcomming_booking' %}"><span class="mdi mdi-arrow-top-right icon-item"></span></a>
              </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal">Booking Count</h6>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0"></h3>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success">
                <a href="{% url 'map_booking' %}"><span class="mdi mdi-arrow-top-right icon-item"></span></a>
              </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal">Make Booking </h6>
        </div>
      </div>
    </div> -->




  </div>

</div>


{% endblock content %}